<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
		<table border="1">
		<thead>
			<tr>
				<th>성</th>
				<th>이름</th>
				<th>나이</th>
				<th>주소</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="dto : ${list}" th:if="${dto.age<20}">
					<td>[[${#strings.substring(dto.name, 0, 1)}]]</td>
					<td>[[${#strings.substring(dto.name, 1, 3)}]]</td>
					<td>[[${dto.age}]]</td>
					<td>[[${dto.address}]]</td>
			</tr>
		</tbody>
	</table>
	
</body>
</html>